<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>BetaUI</title>
        <link rel="stylesheet" href="http://releases.flowplayer.org/5.5.0/skin/minimalist.css">
        <link rel="stylesheet" href="style/fancySelect.css">
        <link rel="stylesheet" href="style/style.css" type="text/css" />
        <link rel="stylesheet" href="style/snap.css" type="text/css" />
        <link rel="stylesheet" href="style/idangerous.swiper.css"/>
        <link rel="stylesheet" href="style/magnific_popup.css"/>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic" rel="stylesheet" type='text/css' />
        <script type="text/javascript" src="js/vendors.js"></script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-540b49a3467ae07c"></script>
        <meta name="viewport" content="width=device-width" />
       
    </head>
    <body>
    <div id="vifi-page-container">
                    <!-- Top Main Toolbar-->
            <div id="top-main-toolbar"></div>
            <div id="side-menu-container" class="snap-drawers"></div>
            <div id="content-container" class="snap-content">
                    <!-- Home Page-->
                    <div class="main-wrapper" id="homepage">
                        <div id="front-page-slider" class="feature-wrapper float_left">
                            <div class="swiper-container" id="featured-swiper-container" data-snap-ignore="true">
                                <a class="arrow-left" href="#"></a>
                                <a class="arrow-right" href="#"></a>
                                <div class="swiper-wrapper" id="featured-slides">
                               
                                </div>
                                <div class="pagination"></div>
                            </div>
                        </div>
                        <div id="browser-content"></div>

                    </div>

                    <!-- Movie Page-->
                    <div class="main-wrapper" style="display:none" id="moviepage">
                        
                    </div>

                    <!-- Search Result Page-->
                    <div class="main-wrapper" style="display:none" id="searchpage">
                      
                    </div>
            </div>
        </div>

        <script type="text/template" id="browserPageTemplate">

                        <form id="search-form">
                          
                        <div id="filter-elements" style="display:none"></div>
                        </form>
                        <div id="filter-bar" class="sub-tabbar float_left"></div>

                        <div id="filter-list" class="selection-container float_left">
                        </div>
                        <div id="content-body" class="float_left">
                            <ul id="content-body-list" class="film-list">
                            </ul>
                            <button id="loadMore">Load more</button>
                        </div>
        </script>
        <script type="text/template" id="filmItemTemplate">
                        <a href="<%-film.seo_friendly_url %>">
                        <div class="item-image" style="background-image: url('http://gonzales.vifi.ee/files/images/image.php?src=<%- film.poster_url %>&w=300');"></div></a>
                        <div class="item-info">
                                    <div class="item-info-title"><a href="<%-film.seo_friendly_url %>"><%-film.title %></a></div>
                                        <div class="item-info-description"><%-film.year %> - <%-film.genres_text %></div>
                                    <div class="item-info-footer">
                                                <div class="item-info-duration"><%-film.running_time_text %></div>
                                                <div class="item-info-price"><%-film.price %></div>
                                    </div>
                        </div>
                        </a>
                    
        </script>

        <script type="text/template" id="featuredItemTemplate">
            <div class="swiper-slide">
                <div class="featured-item">
                    <div class="featured-item-info">
                        <div class="featured-item-title"><%-film.title %></div>
                        <div class="featured-item-description"><%-film.shortOverview %></div>
                        <div class="featured-item-button">
                            <a href="#<%-film.seo_friendly_url %>"><button class="btn green"><span class="icon play"></span>Vaata</button></a>
                        </div>
                    </div>
                    <div class="featured-item-background" style="background-image: url('http://gonzales.vifi.ee/files/images/image.php?src=<%- film.backdrop_url %>&w=1280&h=720');"></div>
                </div>
            </div>
        </script>
        <script type="text/html" id="trailerTemplate">
        <div class="video-container float_left">
                    <div id="video-container-heading" class="float_left">
                        <div id="close-trailer" class="close"><span class="close-button"></span> Close</div>
                    </div>
                    <div class="video-container-body float_left" id="trailer-container-body">
                        <iframe class="float_left" src="//www.youtube.com/embed/{{youtube_id}}" frameborder="0" allowfullsceen></iframe>
                        <div id="video-container-footer" class="float_left">
                            <ul>
                                <li><a><button class="btn green"><span class="icon play"></span>Vaata filmi (2,20 EUR)</button></a></li>
                                <li><a><button class="btn"><span class="icon gift"></span>Kingi Söbrale!</button></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </script>

        <script type="text/template" id="moviePageTemplate">
            <div id="movie-page-header" class="feature-wrapper float_left">
                <!--Film video-->
                <div id="movie-trailer-container"></div>
                <div id="movie-player-container" class="fixed-controls"></div>

                <!--Film gallery-->
                <div class="swiper-container" id="gallery-swiper-container" data-snap-ignore="true" >
                    <ul>
                        <li><a href="#trailer" id="watchTrailer"><button class="btn"><span class="icon trailer"></span>Treiler</button></a></li>
                        <li><a href="#player" id="playMovie"><button class="btn big green"><span class="icon play"></span>Vaata filmi (2,20 EUR)</button></a></li>
                        <li><a><button class="btn"><span class="icon gift"></span>Kingi Söbrale!</button></a></li>
                    </ul>
                    <a class="arrow-left" href="#back"></a>
                    <a class="arrow-right" href="#next"></a>
                    <div class="swiper-wrapper" id="movie-gallery-slides">
                        <% _.each(images.backdrops, function(img) {  %> 
                            <div class="swiper-slide">
                                <div class="featured-item">
                                    <div class="featured-item-background" style="background-image:url('<%=img%>')"></div> 
                                </div>
                            </div>
                        <% }); %> 
                    </div>
                    <div class="pagination-1"></div>
                </div>
            </div>
            <!-- Film Info Tab -->
            <div class="sub-tabbar float_left">
                <div class="swiper-nav swiper-container" id="film-tabbar-swiper-container" data-snap-ignore="true">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" data-rel="film-info-container"><span>Info</span></div>
                        <div class="swiper-slide" data-rel="film-cast-container"><span>Näitlejad</span></div>
                    </div>
                </div>
            </div>

            <div id="moviepage-body" class="float_left">
                <!-- Film Info -->
                <div id="film-info-container" class="float_left">
                    <div class="film-poster float_left"><img src="<%-poster_url %>" /></div>
                    <div class="film-info float_left">
                        <div class="film-title"><%-title %></div>
                        <div class="film-description"><span><%-year %></span> - <span><%-genres_text %></span> - <span><%-running_time_text %></span></div>
                        <div class="film-rating">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><span class="icon imdb"></span><span><%-imdbrating %></span></td>
                                        <td><span class="icon rottentomato"></span><span></span></td>
                                        <td><span class="icon metacritic"></span></span><span></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="addthis_native_toolbox"></div>
                    </div>
                    <div id="film-summary-container" class="film-summary float_left">
                        <h3>Summary</h3>
                        <div class="text-area"><%=overview %></div>
                        <div class="film-language float_left">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><h3>Keeled</h3></td>
                                        <td><h3>Riigid</h3></td>
                                        <td><h3>Subtiitrid</h3></td>
                                    </tr>
                                    <tr>
                                        <td><%-language %></td>
                                        <td></td>
                                        <td><% _.each(subtitles, function(subtitle) { %>
                                                    <%= subtitle %> 
                                                    <% }); %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="disqus_thread"></div>
                    </div>
                </div>
                <!-- Film cast -->
                <div id="film-cast-container" class="float_left" style="display:none;">
                    <ul id="cast-content-body-list">
                    <% _.each(actors, function(actor) { %>
                        <li class="item">
                            <div class="item-image" style="background-image: url('<%= actor.image_url%>');"></div>
                            <div class="item-info">
                                <div class="item-info-title">
                                        <a href="#"><%= actor.name %></a>
                                </div>
                                <div class="item-info-description">'<%=actor.character %>'
                                </div>
                            </div>
                        </li>

                    <%  }); %>



                    </ul>
                </div>
            </div>
            <!-- Footer -->
            <div class="page-footer float_left">
                <div id="goTop" class="goTop">
                    <span class="arrowup"></span>
                    <p>Go to top</p>
                </div>
            </div>
        </script>
        <script type="text/html" id="filterBarTemplate">
            <div class="swiper-nav swiper-container" id="front-tabbar-swiper-container" data-snap-ignore="true">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-rel="sort-list"><span>Sort by</span></div>
                    <div class="swiper-slide" data-rel="genres-list"><span>Kategooriad</span></div>
                    <div class="swiper-slide" data-rel="durations-list"><span>Kestvus</span></div>
                    <div class="swiper-slide" data-rel="periods-list"><span>Aasta</span></div>
           
                </div>
            </div>
        </script>
        <script type="text/html" id="searchPageTemplate">
                <div id="search-result-header" class="feature-wrapper float_left">
                            <div class="search-result-heading">Search result for <i>"{{ state.q }}"</i></div>
                        </div>
                        <div class="sub-tabbar float_left">
                            <div class="swiper-nav swiper-container" id="search-tabbar-swiper-container" data-snap-ignore="true">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><span>Uued</span></div>
                                    <div class="swiper-slide"><span>Top Vaadatud</span></div>
                                    <div class="swiper-slide"><span>A to Z</span></div>
                                </div>
                            </div>
                        </div>
                        <div id="searchpage-content-body" class="float_left">
                            <ul id="searchpage-content-body-list" class="film-list">
                            </ul>                   
                        </div>

        </script>
        <script type="text/html" id="checkboxlistTemplate">
            <div class="selection-wrapper" data-field="{{group}}" data-type="checkbox">
                <div class="selection toggle-on reset" data-val="reset"><span>All</span></div>                      
                {{# items}}
                <div class="selection" data-val="{{id}}"><span>{{name}}</span></div>
                {{/ items}}                                
            </div>
        </script>
        <script type="text/html" id="radiolistTemplate">
            <div class="selection-wrapper" data-field="{{group}}" data-type="radio">
                      
                {{# items}}
                <div class="selection" data-val="{{id}}"><span>{{name}}</span></div>
                {{/ items}}                                
            </div>
        </script>
        <script type="text/html" id="playerTemplate">
            <div id="video-container-heading" class="float_left">
                <div id="close-player" class="close"><span class="close-button"></span> Close</div>
            </div>
            <div id="player-container"></div>
            <div id="video-container-footer" class="float_left">
            <div class="video-selector">
                <select id="video-sub" class="select-box">
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>
            </div>
            <div class="video-selector">
                <select id="video-lang" class="select-box">
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">This is a super long shit option urggg fuck</option>
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>
            </div>
            <div class="video-selector">
                <select id="video-quality" class="select-box">
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                </select>
            </div>
            <div class="video-selector">
                <select id=" " class="select-box">
                  <option value="volvo">Volvo</option>
                  <option value="saab">This is a super long shit option urggg fuck</option>
                </select>
            </div>
            </div>
        </script>
        <script type="text/html" id="topmenuTemplate">
                   <div id="toolbar-left-group">
                        <div id="menu-dragger" class="menu-icon float_left"></div>
                            <a href="#">
                                <div id="main-vifi-logo" class="float_left"></div>
                        </a>
                    </div>
                    <form id="main-search-form">
                        
                        <div id="toolbar-right-group">
                                    <div id="search-button" class="search-icon float_left"></div>
                        </div>
                        <div id="toolbar-search-group">
                                <input type="text" id="main-search-box" class="vifi-text-input" placeholder="Otsi filmi või näitlejat"/>

                        </div>
                    </form>         
        </script>

        <script type="text/html" id="dialogTemplate">
        <div class="white-popup vifi-popup image-and-content-popup">
            <div class="col-img" style="background-image: url('style/img/cloudatlas.jpg');">
            </div>
            <div class="col-content">
                <div class="popup-section">
                    <div class="film-title">Cloud Atlas</div>
                    <div class="film-description price">2.20 EUR</div>
                    <div class="film-language">
                        <table>
                            <tbody>
                                <tr>
                                    <td><h3>Keeled</h3></td>
                                    <td><h3>Subtiitrid</h3></td>
                                </tr>
                                <tr>
                                    <td>Inglise</td>
                                    <td>Eesti</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="payment-section" class="popup-section">
                    <h3>Vali makseviis</h3>
                    <ul id="payment-list">
                        <li id="swedbank"><a>
                            <div class="payment-item-image"></div>
                            <p>Swedbank</p>
                        </a></li>
                        <li id="seb"><a>
                            <div class="payment-item-image"></div>
                            <p>SEB</p>
                        </a></li>
                        <li id="danske"><a>
                            <div class="payment-item-image"></div>
                            <p>Danske</p>                        
                        </a></li>
                        <li id="nordea"><a>
                            <div class="payment-item-image"></div>
                            <p>Nordea</p>                        
                        </a></li>
                        <li id="creditcard"><a>
                            <div class="payment-item-image"></div>
                            <p>Krediitkaart</p>                        
                        </a></li>
                        <li id="code"><a>
                            <div class="payment-item-image"></div>
                            <p>Kood</p>
                        </a></li>
                    </ul>
                    <div id="payment-email">
                        <h3>Email</h3>
                        <p>Emailile saadetakse pilet, millega saate filmi 48 tunni jooksul korduvvaadata.</p>
                        <form id="single-email-purchase">
                        <input type="text" id="email" class="vifi-text-input" placeholder="Sinu e-posti aadress"></input>
                        </form>
                        <p class="warning">Palume mitte unustada peale makse sooritamist vajutada nuppu "Tagasi kaupmehe juurde".</p>
                    </div>
                    <div id="payment-code">
                        <h3>Sisesta filmi kood</h3>
                        <form id="single-code-purchase">
                        <input type="text" id="code" class="vifi-text-input" placeholder="Sisesta kood"></input>
                        </form>
                    </div>
                    <button id="confirm-purchase-button" class="btn big green full">Vaata filmi</button>
                </div>
            </div>
        </div>
        </script>
        <script type="text/html" id="sidemenuTemplate">

            <div id="side-menu" class="snap-drawer snap-drawer-left">
                        <h3>Tugi</h3>
                        <ul class="side-menu-list">
                            <a href="#"><li>Kasutustingimused</li></a>
                            <a href="#"><li>Privaatsustingimused</li></a>
                            <a href="#"><li>Korduma kippuvad küsimused</li></a>
                            <a href="#"><li>Filmi vaatamine läbi teleri</li></a>
                            <a href="#"><li>Tagasiside</li></a>
                        </ul>
                        <h3>Testi Arvutit!</h3>
                        <ul class="side-menu-list">
                            <a href="#"><li>Vaata ja testi oma arvuti seadeid siit!</li></a>
                            <a href="#"><li>Liitu uudiskirjalistiga siit!</li></a>
                            <a href="#"><li>Anna tagasisidet!</li></a>
                        </ul>
            </div>
        </script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/models/models.js"></script>                
        <script type="text/javascript" src="js/models/utils.js"></script>
        <script type="text/javascript" src="js/models/user.js"></script>
        <script type="text/javascript" src="js/models/player.js"></script>
        <script type="text/javascript" src="js/collections/collections.js"></script>
        <script type="text/javascript" src="js/views/app.js"></script>
        <script type="text/javascript" src="js/views/films.js"></script>
        <script type="text/javascript" src="js/views/filterbar.js"></script>
        <script type="text/javascript" src="js/views/detailpage.js"></script>
        <script type="text/javascript" src="js/views/player.js"></script>
        <script type="text/javascript" src="js/views/browser.js"></script>
        <script type="text/javascript" src="js/init.js"></script>
    </body>
</html>
<!--
actors: ""
audience: Array[2]
audience_text: Array[2]
available_on_mobile: false
available_on_web: true
backdrop_url: "http://cf2.imgobject.com/t/p/w780/gOJZAqF9zKyfsuIP8ALWOcA5QWM.jpg"
director: "Woody Allen"
featured: "0"
genres: Array[2]
genres_text: "Draama, Komöödia"
id: "58969"
language: "Inglise"
overview: "Woody Allen’i filmides on alati viis reeglit:
↵- vähemalt üks tegelane (kui Allen mängib, siis tema ise) on neurootiline ja fundamentaalselt ebastabiilne
↵- ükski asi pole tegelikult nii nagu see alguses näib ega ükski tegelane selline nagu esmase mulje põhjal võiks arvata
↵- kui filmis on rohkem kui kaks peategelast, siis on seal kindlasti ka rohkem kui üks intriig
↵- film ei pruugi olla temaatiliselt sobilik kõigile, kuid on sisuliselt garanteeritud, et see ei sisalda tilkagi verd
↵- ning kokkuvõte filmi sisust annab harva hea ülevaate tegelikust loost, kuid teekond, millele Allen meid viib on peaaegu alati seda väärt
↵You Will Meet A Tall Dark Stranger pole erand: kaks abielupaari - Alfie (Hopkins) ja Helena (Gemma Jones) ning nende tütar Sally (Watts) oma mehe Roy’ga (Josh Brolin) satuvad saatuse küüsis olukorda, mille tingivad nende enda düsfunktsionaalsed ambitsioonid ja ootused elult. Loost käivad läbi selgeltnägija ja purunenud suhe, prostituut ja salajane naisterahvas, kelle identiteet on täielik müsteerium ning otseloomulikult mees, keda ühel hetkel - varem või hiljem - kohtab meist igaüks: pikk tumedanahaline võõras. Seekord on selleks Antonio Banderas."
poster_url: "http://cf2.imgobject.com/t/p/w300/qn18b06ehnUnH2hhsFLEntTZ3of.jpg"
price: "2.20"
running_time: "98"
running_time_text: "1h 38min "
seo_friendly_url: "/films/you-will-meet-a-tall-dark-stranger"
star_rating: 4
subtitles: Array[1]
tagline: "Woody Allen’i filmides on alati viis reeglit:
↵- vähemalt üks tegelane (kui "
title: "You will meet a tall dark stranger"
trailer: "http://www.youtube.com/watch?v=OLLbzJC_mp4&feature=youtube_gdata_player"
year: "2010"
youtube_id: "OLLbzJC_mp4"
-->