<div id="movie-page-header" class="feature-wrapper float_left">
    <!--Film video-->
    <div id="movie-trailer-container"></div>
    <div id="movie-player-container" class="fixed-controls">
                <div id="video-container-heading" data-snap-ignore="true" class="float_left">
                <div id="close-player" style="display:none;" class="close">
                    <span class="close-button"></span>Sulge
                </div>
        </div>
        <div id="player-container" data-snap-ignore="true"></div>
        <div id="video-container-footer"  data-snap-ignore="true" class="float_left"></div>

    </div>
    <!--Film gallery-->
    <div class="swiper-container" id="gallery-swiper-container" data-snap-ignore="true" >
        <ul id="movie-interactive-button-row">
            <% if (youtube_id != "") { %>
            <li><a href="#trailer" id="watchTrailer"><button class="btn icon trailer">Treiler</button></a></li>
            <% } %>
            <li><a href="#player" id="playMovie"><button class="btn big green icon play"><%= playButton %></button></a></li>
            <li><a><button class="btn icon star">Lisa endale</button></a></li>
        </ul>
        <a class="arrow-left" href="#back"></a>
        <a class="arrow-right" href="#next"></a>
        <div class="swiper-wrapper" id="movie-gallery-slides">
            <% _.each(images.backdrops, function(img) {  %>
            <div class="swiper-slide">
                <div class="featured-item">
                    <div class="featured-item-background b-lazy" data-src="<%= App.Utils.getImageUrl(img.replace("original/", "w1280/"), 960, false ,'t',1)%>"></div>
                </div>
            </div>
            <% }); %>
        </div>
        <div class="pagination-1"></div>
    </div>
</div>
<!-- Film Info Tab -->
<div class="sub-tabbar float_left">
    <div class="swiper-nav swiper-container" id="film-tabbar-swiper-container" data-snap-ignore="true">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-rel="film-info-container"><span>Info</span></div>
            <div class="swiper-slide" data-rel="film-cast-container"><span>Näitlejad</span></div>
        </div>
    </div>
</div>
<div id="moviepage-body" class="float_left">
    <!-- Film Info -->
    <div id="film-info-container" class="float_left">
        <div class="film-poster float_left">
        <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="<%-App.Utils.getImageUrl(poster_url.replace("/original/", "/w300/"),180,260)%>" /></div>
        <div class="film-info float_left">
            <div class="film-title"><%-title %></div>
            <div class="film-description"><span><%-year %></span> - <span><%-genres_text %></span> - <span><%-running_time_text %></span></div>
            <div class="film-rating" id="film-rating">
                <table>
                    <tbody>
                        <tr>
                            <td id="imdbratings">
                                <% if (imdb_id != null) {
                                    if (imdbrating && imdbrating != "Data") {
                                %>

                                <span class=" imdbRatingPlugin imdbRatingStyle4" data-user="ur44573370" data-title="<%-imdb_id%>" data-style="p4"><a href="//www.imdb.com/title/<%-imdb_id%>/?ref_=plg_rt_1" target="_blank"><img src="/style/img/imdb_46x22.png"> </a><span class="rating"><%-imdbrating%><span class="ofTen">/10</span></span></span>
                                <%
                                 } else { %>
                                <span class="imdbRatingPlugin" data-user="ur44573370" data-title="<%-imdb_id%>" data-style="p4"><a target="_blank" href="//www.imdb.com/title/<%-imdb_id%>/?ref_=plg_rt_1"><img src="/style/img/imdb_46x22.png" /> </a></span>
                                <% }
                            } %>
                            </td>
                            <td id="rtratings">

				                <%
                                if (typeof(rt_ratings) !== "undefined" && rt_ratings != "" && rt_ratings.critics_score > -1){
                                %>
                                    <a target="_blank" href="<%-rt_links.alternate%>"><span class="icon rottentomato"></span>
                                    <span>
                                    <%-rt_ratings.critics_score %>%
                                    </span>
                                    </a>
                                <%
                                }
                                %>
                            </td>
                            <td id="mcratings"></td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="addthis_native_toolbox"></div>
        </div>
        <div id="film-summary-container" class="film-summary float_left">
            <h3>Filmist</h3>

            <div class="text-area"><%=nl2br(overview)%></div>
            <div class="film-language float_left">
                <table>
                    <tbody>
                        <tr>
                            <td><h3>Keeled</h3></td>
                            <td><h3>Riigid</h3></td>
                            <td><h3>Subtiitrid</h3></td>
                        </tr>
                        <tr>
                            <td><%-language %></td>
                            <td><%-countries %></td>
                            <td><%
            				if (subtitles.length < 1) {
            				%>Subtiitreid pole.<%
            				}
            				_.each(subtitles, function(subtitle) { %>
                            <%= subtitle %>
                            <% }); %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="disqus_thread"></div>

        </div>

    </div>
    <!-- Film cast -->
    <div id="film-cast-container" class="float_left" style="display:none;">
        <ul id="cast-content-body-list">
            <% _.each(actors, function(actor) {

            if (typeof(actor.character) =="object") {
            var characters = _.map(actor.character, function(char) { return char });
                actor.character = "'"+characters.join(", ")+"'";
            }
            if (actor.image_url == null) {
                actor.image_url = '/style/img/anonymous_avatar.jpg';
            } else {
                actor.image_url = App.Utils.getImageUrl(actor.image_url.replace("/original/", "/w300/"),180,260);
            }
            %>
            <li class="item">
 <div class="item-image b-lazy" data-src="<%= actor.image_url %>"></div>
                 <div class="item-info">
                    <div class="item-info-title">
                        <span><%= actor.name %></span>
                    </div>
                    <div class="item-info-description"><%= actor.character %>
                    </div>
                </div>
            </li>
            <%  }); %>
        </ul>
    </div>
</div>
